// Color Pallet
$valid: #0db464;
$statement-generic: #288db9;

$red: #f00;
$orange: #ff7a00;
$blue: #0061ba;
$green: #2ba400;
$fluro-green: #31e405;
$light-green: #09bb00;
$light-blue: #008cff;
$light-red: #ff6161;
